* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: #f4f4f4
}

.holder {
  display: grid;
  width: 200px;
  height: 200px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

	
}

.item {
	background-color: white;
	border: 1px solid black;
}